.App {
  text-align: center;
}
#capture-form{
  max-width: 500px;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App{
  display: grid;
  grid-template-columns: auto 400px auto ;
}
#signup-form{
  margin-top: 10%;
}
#capture-form{
  margin-top: 10%;
  grid-column-start: 2;
  grid-column-end: 3;
}
#single-profile{
  padding: 20px;
  margin: auto;
  max-width: 500px;
}
h1{
  text-align: center;
}